<html>
<head>
<style>
.myDiv {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
}
</style>
</head>
<body>
<form action="" method="POST" name="check">
    {% csrf_token %}
    <div class="myDiv">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
      <br><br>
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
       <br><br>
      <input type="submit" name="Signin" value="Signin">
      
  </form> 
  
   </body>     
  </html>